*.class

# Package Files #
*.jar
*.war
*.ear

/.project
/.classpath
/.settings
target/


/jspui-webapp/.settings
/jspui-webapp/target
/jspui-webapp/.classpath
/jspui-webapp/.project

/jspui-api/.settings
/jspui-api/target
/jspui-api/.classpath
/jspui-api/.project

/api/.settings
/api/target
/api/.classpath
/api/.project
