/* 
  The contents of this file are subject to the license and copyright
   detailed in the LICENSE and NOTICE files at the root of the source
   tree and available online at
   
   https://github.com/CILEA/dspace-cris/wiki/License

*/
ul li {
	list-style: decimal;
}

.showDragHandle {
    background-image: url("../images/updown.gif");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: move;
}

.tDnD_whileDrag {
	background-color: #f1b881;
}

.dragrowmessage {	
	text-align: center;	
	background-color: #f6ad35;
	display: block;
	padding: 5px;	
}

.button {
	white-space: nowrap;
	text-align: center;
	font-weight: bold;
	color: rgb(0,112,192);
}

.invisible {
	display: none;
}
.intro {
	width: 800px;
	height: 240px;
}
.controlh3 {
	font-size: small;
}

.nosort {
	background: #f6ad35 !important;
}
.sorting_asc {
	background: url(../images/arrow_up.png) no-repeat right #f6ad35;
}

.sorting_desc {
	background: url(../images/arrow_down.png) no-repeat right #f6ad35;
}

.sorting {
	background: url(../images/arrow_off.png) no-repeat right #f6ad35;
}

.ui-button {
	margin-top: 20px;
}

.ui-button:hover {
	background-color: white;
	border-color: red;
} 

.activestate {
	color: #F6AD35;
}

body {
	font-size: 90%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    width: 610px;
    margin-top: 20px;
}

table, table td, table th {
    border: 1px solid gray;
    border-collapse: collapse;    
}
table td  {
    cursor: move;
}

table th {
    background: none repeat scroll 0 0 #F6AD35;
    color: white;
    padding: 5px 20px 5px 20px;
}

table tr:hover {
	background-color: #FCEFA1;
}

.drag-row-item {
    background: none repeat scroll 0 0 #FCEFA1 !important;
}

.drag-row-item table {
	margin: 0;
} 
.ui-draggable-dragging {
	background-color: silver;
}

.ui-droppable:hover {
	border-color: red;
}

.ui-state-active {
	background-color: #FCEFA1 !important;
}

#centralPanel {
	display: block;
	height: 500px;
	width: 640px;
	border: 1px solid #F6AD35;
}

#processing {
	text-align: center;
	font-size: 20px;
}
.dataTables_wrapper {
	overflow: auto;
	height: 500px;	
}

.collapsed-container {
	background: #f6ad35 !important;
	border-color: #F6AD35 !important;
	color: white !important;
}

.draggable {
	width: 75px;
	height: 25px;	
	padding: 10px;
}

#droppableactive {
	top: 375px;
	left: 650px;
	width: 125px;
	height: 75px;
	padding: 10px;
	position: absolute;
}

#droppablehided {
	top: 475px;
	left: 650px;
	width: 125px;
	height: 75px;
	padding: 10px;
	position: absolute;
}

#droppableselected {
	top: 575px;
	left: 650px;
	width: 125px;
	height: 75px;
	padding: 10px;
	position: absolute;
}

#droppableunlinked {
	top: 675px;
	left: 650px;	
	width: 125px;
	height: 75px;
	padding: 10px;
	position: absolute;
}

#message {
	margin-top: 20px;
	background: #F6AD35;
	width: 775px;
	padding: 10px;
	font-size: 130%;
	color: white;
}

.date {
	text-align: center;
}
.dataTables_filter {
	padding: 20px;
	font: 110%;
	text-align: right;
}

.drophided {
	cursor: pointer;
	text-decoration: underline;
	text-align: center;	
	padding: 5px;
}

.dropactive {
	cursor: pointer;
	text-decoration: underline;
	text-align: center;	
	padding: 5px;
}

.dropselected {
	cursor: pointer;
	text-decoration: underline;
	text-align: center;	
	padding: 5px;
}

.dropunlinked {
	cursor: pointer;
	text-decoration: underline;
	text-align: center;			
	padding: 5px;
}
.filtered {
display: none;
}
