<?xml version="1.0" encoding="UTF-8"?>
<!--
  The contents of this file are subject to the license and copyright
   detailed in the LICENSE and NOTICE files at the root of the source
   tree and available online at
   
   https://github.com/CILEA/dspace-cris/wiki/License
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">	
	<!-- Acquires the DSpace Utility Class with initialized Service Manager -->
    <bean id="researcher" class="it.cilea.hku.authority.util.Researcher"/>
            
    <!-- Acquires reference to RP applicationService --> 
    <bean id="applicationService" factory-bean="researcher" factory-method="getApplicationService" />
    
    <!-- Acquires reference to Cris SearchService --> 
    <bean id="crisSearchService" factory-bean="researcher" factory-method="getCrisSearchService" />
    
    <bean id="rpComponents" factory-bean="researcher" factory-method="getRPComponents" />
	
	<bean id="sessionFactory" factory-bean="researcher" factory-method="getSessionFactory"/>
	
	<bean id="researcherTagLibraryService" class="it.cilea.hku.authority.webui.web.tag.ResearcherTagLibraryFunctions">
		<property name="applicationService" ref="applicationService"/>
	</bean>

	<bean id="researcherPageUtils" class="it.cilea.hku.authority.util.ResearcherPageUtils">
		<constructor-arg ref="applicationService" />
	</bean>

	<bean id="validatorService" class="it.cilea.hku.authority.webui.validator.ExtendedValidatorService">
		<constructor-arg ref="applicationService" />
	</bean>
</beans>